<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mogulotterymachine">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LotteryManagerAct"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>

        <activity android:name=".activity.BuyActivity"
            android:theme="@style/MyDialogActivityStyle"/>
        <activity android:name=".activity.PayActivity"
            android:theme="@style/MyDialogActivityStyle"/>
        <activity android:name=".activity.ControlLotteryActivity"
            android:theme="@style/MyDialogActivityStyle"/>
        <activity android:name=".activity.CutterPaperActivity"
            android:theme="@style/MyDialogActivityStyle">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <service android:name=".ClientService"/>

    </application>

</manifest>